/* Reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/******** utilitys********** */
/* .debug {
  border: 1px red solid;
} */
/* Google-font */
.edu-tas-beginner {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
/* display none */
.d-none {
  display: none !important;
}
/* ***Container******/
#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 20px;
  gap: 30px;
  justify-content: center;
  width: 100%;
  scroll-behavior: smooth;
}
/* Body-bakcground */
body {
  background-image: url(./img/wall.png);
}
/* Loader */
#loader {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
/* Spinner */
.fa,
.fas {
  font-size: 5rem;
  color: white;
}
/******Header *****/
#h1 {
  color: #353535;
  background-image: url(./img/cork.png);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header {
  background-image: url(./img/wall.png);
  color: #c77e39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 2rem;
}
/***** Main********/
main {
  display: flex;
  justify-content: center;
  background-image: url(./img/cork.png);
  width: 100%;
}
/* img */
#img {
  padding-top: 30px;
  max-width: 90%;
}
/* comments */
.comments {
  padding: 20px;
}
/* pin */
#pin {
  width: 10%;
  position: absolute;
  position: absolute;
  top: -17px;
  left: 45%;
}
/* Cards */
#card {
  border: 3px solid #8b5057;
  border-radius: 30px;
  text-align: center;
  background-color: white;
  box-shadow: -5px 3px 3px 0px #8b5057;
  cursor: pointer;
  position: relative;
  z-index: 999;
}
/******* Overlay*******/
#overlay {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
/* Overlay-img */
.overlay-img {
  width: 400px;
}
/* Span-buttone */
.span {
  animation: flicker 1.5s infinite alternate;
  color: #bc13fe;
}
/*Animation span-button */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }
  /* Eliminare il shadow */
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
/****** tutti i buttone *******/
/* Buttone Prev-Succ */
#buttonPrev,
#buttonSucc {
  cursor: pointer;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe, 0 0 2rem #bc13fe, inset 0 0 1rem #bc13fe;
  border-radius: 30px;
  border: 0.2rem solid #fff;
  padding: 15px;
}
/* Buttone Home */
#button {
  padding: 10px;
  border-radius: 30px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe, 0 0 2rem #bc13fe, inset 0 0 1rem #bc13fe;
  cursor: pointer;
  width: 100px;
}
/**** suggestions-Divs*****/
#suggestion,
#suggestion2 {
  border: 1px solid #bc13fe;
  width: 150px;
  cursor: pointer;
  border-radius: 30px;
}
/******* Footer****** */
#footer {
  background-image: url(./img/wall.png);
  height: 100px;
  padding-top: 10px;
}

/******** Media Query-Desktop-first*************/
/* Mobile */
@media screen and (min-width: 576px) {
  #card {
    width: calc(100% - 60px);
  }
  #container {
    max-width: 540px;
  }
}
/* Tablette */
@media screen and (min-width: 768px) {
  #card {
    width: calc((100% - 60px) / 2);
  }
  #container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  #card {
    width: calc((100% - 60px) / 2);
  }
  #container {
    max-width: 960px;
  }
}
/* Desktop */
@media screen and (min-width: 1200px) {
  #card {
    width: calc((100% - 60px) / 3);
  }
  #container {
    max-width: 1140px;
  }
}

/*********** Hover**********/
/* Nascondo il pin quando passo il mouse sopra la card */
#card:hover #pin {
  display: none;
}
/* Ruoto l'immagine e faccio allargare il box-shadow quando passo il mouse sopra la card */
#card:hover {
  transform: rotate(10deg);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe, 0 0 2rem #bc13fe, inset 0 0 1rem #bc13fe;
  transition: transform 0.5s;
  border: 2px solid rgba(255, 0, 0, 0.39);
}
/* Creo un box-shadow quando passo il mouse sopra l'immagine dell'overlay */
.overlay-img:hover {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe, 0 0 2rem #bc13fe, inset 0 0 1rem #bc13fe;
}
/* Creo un box-shadow quando passo il mouse sopra ogni div di suggestion */
#suggestion:hover {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe, 0 0 2rem #bc13fe, inset 0 0 1rem #bc13fe;
}
